body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: stretch;
    font-family: Arial, Helvetica, sans-serif;
  }
  body * {
    box-sizing: border-box;
  }
  header {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    max-height: 100px;
    flex-shrink: 1;
    box-shadow: 0 1px 8px -4px black;
  }
  header nav {
    display: flex;
    align-items: center;
  }
  header nav ul {
    display: flex;
    flex-flow: row;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  header nav a {
    text-decoration: none;
    color: darkgray;
    display: block;
    padding: 1rem;
    font-size: .8rem;
    font-weight: bold;
  }
  body > main {
    min-height: 300px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
  }
  .column {
    display: flex;
    flex-flow: column;
    row-gap: 1rem;
    align-self: stretch;
  }
  footer {
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 1;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: #c2175b;
    color: white;
  }
  footer ul {
    list-style: none;
  }
  footer .column img {
    max-width: 12rem;
  }
  .column.disclaimer {
    row-gap: 0;
    flex-grow: 1;
  }
  .column.categories {
    flex-grow: 1;
  }
  .column.sm {
    justify-content: center;
    width: 100%;
    min-width: 10%;
    max-width: 31%;
  }
  .column.sm.categories {
    display: flex;
    justify-content: end;
  }

  main form{
      display: flex;
      flex-flow: column;
      gap: 1rem;
      max-width: 720px;
      padding: 5rem;
      margin-bottom: 1rem;
  }

  .field{
      display: flex;
      flex-flow: column;

  }

  button.submit{
      background-color: #c2175b;
      border: none;
      padding: .5rem;
      color: white;
  }

  button.reset{
      margin-top: -.5rem;
      border: none;
      padding: .5rem;
      
  }