body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body* {
    box-sizing: border-box;
}

header{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-height: 100px;
}

header nav{
    display: flex;
    align-items: center;
}
header nav ul{
    display: flex;
    flex-flow: row;
    padding: 0;
    margin: 0;

    list-style: none;
}

header nav a{
    text-decoration: none;
    color: darkgrey;
    display: block;
    padding: 1rem;
    font-weight: bold;

}

.banner img{
    width: 100%;
    max-width: 100%;
}

.fistrsection{
 display: flex;
 flex-flow: column wrap;
 align-items: center;
 max-width: 100%;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: stretch;
    gap: 1rem;
    margin: 4rem;
}

.secondsection{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    background-color: #c2175b;
}
.card{
    display: flex;
    flex-flow: column;
}
.card section{
    max-height: 300px;
  }
.card footer{
      display: flex;
      flex-flow: column;
      color: black;
      padding: .8rem;
      font-size: .8rem;
      background-color: white;
  }
  .card.card-title{
      font-weight: bold;
      margin-bottom: .5rem;

    
  }

  .column{
      display: flex;
      flex-flow: column;
      row-gap: 1rem;
      align-self: stretch;
  }

  .thirdsection .detailsbutton{
      background-color: #c2175b;
      padding: 1rem 2rem;
      border: none;
      color: white;
      font-weight: bold;
      font-size: 2rem;
      letter-spacing: .1rem;
      margin-bottom: 1rem;

  }
  .thirdsection .details{
      flex-grow: 1;
  }

  footer{
      display: flex;
      flex-flow: row ;
      background-color: #c2175b;
      padding: 0 6rem;
      color: white;
  }

  footer .column img{
      max-width: 12rem;
  }

  .column.disclaimer{
      row-gap: 0;
      flex-shrink: 1;
  }

  .column.categorias{
      flex-grow: 1;
  }


